html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    width: 100%;
    height: 64px;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 2px 8px #089da1;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}

.navBar {
    display: flex;
    gap: 25px;
    align-items: center;
}

.navBar a {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.navBar a:hover {
    color: #089da1;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navBar {
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        display: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

        .navBar.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

.hero_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 5%;
    margin-top: 40px ;
}

.text_content {
    flex: 1 1 400px;
    padding: 1rem;
}

.text_content h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;

}
.text_content h1 span {
    color: #089da1;
}

.text_content p {
    font-size: 0.9em;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}

.text_content a:visited , .text_content a:link{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: #089da1;
    background-color: #089da1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size:small;
    padding: 3px 13px ;
}

.image_content {
    flex: 1 1 400px;
    text-align: center;
}

.image_content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .hero_section {
        flex-direction: column;
        text-align: center;
    }
}


.features {
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    padding: 15px;
    flex: 1 1 200px; 
    max-width: 250px;
    box-shadow: 0px 1px 6px #089da1;
    text-align: center;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
    background-color: azure;
}

.feature h4 {
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}

.feature p {
    font-size: medium;
    margin-top: 5px;
    color: #555;
}

.feature i {
    padding-top: 10px;
    color: #089da1;
    font-size: 36px;
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .feature {
        width: 90%; 
        max-width: none;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .feature {
        flex: 1 1 10%; 
    }
}

    #about{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        gap: 120px;
    }

    .text_about_us{
       flex: 1 1 300px;
       max-width: 100%;
    }

    .text_about_us h1 {
        font-size: 40px;
        margin-bottom: 30px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .text_about_us p {
      margin-bottom: 40px;
    }

    .text_about_us a:visited , .text_about_us a:link{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: #089da1;
    background-color: #089da1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size:small;
    padding: 3px 13px ;
    }

    .img_about_us{
        flex: 1 1 300px;
        max-width: 100%; 
    }

    .img_about_us img{
        width: 100%;
        height: auto;
    }


     .first-sec{
    margin-top: 20%;
}

 .adress{
    text-align: center;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 .book-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid thin rgba(0,0,0,0.2);
    margin: 2.5%;
    margin-top: 1%;
}

 .book-box:hover{
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 6px #089da1;
}

 .images{
    padding: 50px;
    padding-top: 1%;
    padding-bottom: 5%;
    width: 120px;
    height: 180px;
}

 .text1-book{
    font-weight: bold;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 .text2-book{
    color: #cacaca;
}

 .text3-book{
    color: aqua;
    font-size: medium;
}

 .text5-book{
    border: #98c3bd solid;
    border-width: thin;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;

}

 .scroll{
    overflow-x: auto;
    display: flex;
    scrollbar-color: aqua transparent;
}

 .checked{
    color: #98c3bd;
}

 .stars{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
}

  .book-box2{
    display: inline-block;
    border: solid thin rgba(0,0,0,0.2);
    margin: 2.2%;
    margin-top: 1%;
}

  .book-box2:hover{
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 6px #089da1;
}

@media(max-width: 1023px){
    .scroll{
        overflow-x: auto;
        display: flex;
        scrollbar-color: aqua transparent;
        gap: 20px;
        padding-bottom: 20px;
    }

}

@media(max-width: 768px){
    .images{
        padding: 30px;
        padding-top: 1%;
        padding-bottom: 5%;
        width: 100px;
        height: 150px;
    }
}
.book-box2{display: inline-block;
           border: solid thin rgba(0,0,0,0.2);
           margin: 2.2%;
           margin-top: 1%;}
  .book-box2:hover{border: 1px solid #e0e0e0;
                 box-shadow: 0px 1px 6px #089da1;}
 /* loay : review section */
    @media (max-width: 768px) {
    #about {
    flex-direction: column;
    text-align: center;
    gap: 40px; 
        }
    }
.reviews-h1{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-size: 3em;
}
.reviews_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    padding-left: 2em;
    padding-right: 2em;
}  
.reviews_card{
    background-color: #fff;
    padding: 1em;
    width: 20%;

    position: relative;
    border: 2px solid  #dfefff; 
    box-shadow: 0 0 5px rgba(4, 4, 14, 0.5);
    min-width: 30vb; 
}
.reviews_card:hover{
    cursor: pointer;
}
.reviews_img{
    border-radius: 50%;
    width: 23%;
    height: 23%;
    margin-bottom: 0.5em;
}   
.reviews_h3{
    font-size: 1.3em;
    color: #000;
    margin-top: 0px;
}

.reviews_qouto{
    position: absolute;
    top: -0.2em;
    right: 0;
    font-size: 9em;
    color: #e0e0e0;
    font-family: Georgia, serif;
}

.reviews_p{
    text-align: justify;         
    word-break: break-all;   
    hyphens: auto; 
    margin-top: -1em;
}

.reviews_stars{
    margin-top: -0.5em;
    margin-bottom: 1em;
    color: #00bcd4;
    font-size: 0.8em;
}
/* loay : digital_book section */
#digital_book{
    position: relative;
    margin-top: 5em;
}
.digital_book_img{
    display: block;
    width: 100%;
    height: 30%;
    
}
#digital_book > button{
    position: absolute;
    left: 7%;
    bottom: 24%;
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0.4em 1em;
}
#digital_book > button:hover{
    cursor: pointer;
}
/* loay : blog section  */
#blog{
    margin-bottom: 1.5em;
}
#blog > h1{
    text-align: center;
    font-size: 3em;
}

.blog_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}

.blog_card{
    display: block;
    width: 24%;
    background-color: #fff;
    border: 2px solid  #cdc8c8;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.1);
    min-width: 20em;
} 
.blog_card img{
    display: block;
    width: 100%;
    height: 14em;
}
.blog_card div h3{
    color: var(--main-color);
    font-size: x-large;
}
.blog_card > div{
    padding: 0em 1em;
    margin-top: -0.8em;
}
.blog_icons{
    display: flex;
    justify-content: space-between;
    margin-top: -0.8em;
    margin-bottom: 1em;
    font-size: 0.9em;
    color: var(--main-color);
}
