html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    width: 100%;
    height: 64px;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 2px 8px #089da1;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}

.navBar {
    display: flex;
    gap: 25px;
    align-items: center;
}

.navBar a {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.navBar a:hover {
    color: #089da1;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

