html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    width: 100%;
    height: 64px;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 2px 8px #089da1;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}

.navBar {
    display: flex;
    gap: 25px;
    align-items: center;
}

.navBar a {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.navBar a:hover {
    color: #089da1;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navBar {
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        display: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

        .navBar.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
<<<<<<< HEAD
=======

.hero_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 5%;
    margin-top: 40px ;
}

.text_content {
    flex: 1 1 400px;
    padding: 1rem;
}

.text_content h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;

}
.text_content h1 span {
    color: #089da1;
}

.text_content p {
    font-size: 0.9em;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}

.text_content a:visited , .text_content a:link{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: #089da1;
    background-color: #089da1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size:small;
    padding: 3px 13px ;
}

.image_content {
    flex: 1 1 400px;
    text-align: center;
}

.image_content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .hero_section {
        flex-direction: column;
        text-align: center;
    }
}
>>>>>>> wesam
